{
  "extends": [
    "../.eslintrc.js",
    "next/core-web-vitals",
    "next/typescript",
    "plugin:storybook/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "jest-extended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-restricted-imports": ["error", {
      "name": "@fortawesome",
      "message": "Use icons from react-icons instead."
    }],
    "import/no-duplicates": ["error", {"prefer-inline": true}],
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
    }]
  },
  "overrides": [
    {
      "files": ["*.tsx"],
      "rules": {
        "@typescript-eslint/no-unnecessary-type-constraint": "off"
      }
    },
    {
      "files": ["src/api/**/generated/**/*", "*.js"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
