.git
.gitignore
.eslintrc.js
.gitmodules

docker
docker-compose.yml
nginx.Dockerfile

documentation
backend
frontend

apps/scratch/Dockerfile
apps/scratch/.dockerignore
apps/scratch/node_modules
apps/scratch/build
apps/scratch/.env
apps/scratch/.env.*