# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
charset = utf-8

[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

[*.sh]
end_of_line = lf

[Makefile]
indent_style = tab
