@use "~bootstrap/scss/bootstrap";

:root {
  --background-color: #ffffff;
  --background-color-secondary: #ddd;
  --foreground-color: #171717;

  --accent-color: #2d2d2d;
  --accent-color-highlight: #2d2d2d;

  --border-radius: 0.25rem;

  --button-background-color: #000000;
  --button-foreground-color: #ffffff;

  --button-secondary-background-color: #6c757d;
  --button-secondary-foreground-color: #ffffff;

  --button-danger-background-color: var(--error-color);
  --button-danger-foreground-color: #ffffff;

  --button-disabled-background-color: #999999;

  --header-background-color: #ffffff;
  --header-border-color: #000;
  --header-foreground-color: var(--foreground-color);

  --success-color: #2ecc71;
  --error-color: #dc3545;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// prime react tooltips
.p-tooltip {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: var(--foreground-color) 1px solid;
  border-radius: var(--border-radius);

  padding: 1rem;
}

.modal {
  // set the z-index to the same value s.t. we can stack modals (although this is not recommended)
  --bs-backdrop-zindex: 1050;
  --bs-modal-zindex: 1050;
}
