@use "~bootstrap/scss/bootstrap";

:root {
  --background-color: #ffffff;
  --background-color-secondary: #ddd;
  --foreground-color: #171717;

  --accent-color: #2d2d2d;
  --accent-color-highlight: #2d2d2d;

  --border-radius: 0.25rem;
  --border-color: #E4E4E7;

  --button-background-color: #18181B;
  --button-foreground-color: #ffffff;

  --button-secondary-background-color: #ffffff;
  --button-secondary-foreground-color: #000000;

  --button-secondary-border-color: #E4E4E7;
  --button-danger-background-color: var(--error-color);
  --button-danger-foreground-color: #ffffff;

  --button-disabled-background-color: #999999;

  --header-background-color: #ffffff;
  --header-border-color: #000;
  --header-foreground-color: var(--foreground-color);

  --page-description-color: #000;
  --success-color: #2ecc71;
  --error-color: #dc3545;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}