@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --background-color: #ffffff;
  --background-color-secondary: #ddd;
  --foreground-color: #000000;
  --foreground-color-secondary: #171717;

  --accent-color: #2d2d2d;
  --accent-color-highlight: #2d2d2d;

  --border-radius: 0.25rem;
  --border-color: #e4e4e7;
  --border-color-secondary: #a1a1aa;
  --button-background-color: #18181b;
  --button-foreground-color: #ffffff;
  --button-secondary-background-color: #ffffff;
  --button-secondary-foreground-color: #000000;

  --button-danger-background-color: var(--error-color);
  --button-danger-foreground-color: #ffffff;

  --header-background-color: #ffffff;
  --header-border-color: #000;
  --header-foreground-color: var(--foreground-color);

  --page-description-color: #000;
  --neutral-color: #2563eb;
  --success-color: #2ecc71;
  --error-color: #dc3545;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
