/playwright-report/
/playwright/.cache

# override parent .gitignore
!/playwright/.*

# ignore all files in directories
/playwright/.*/**/*
# except .gitkeep
!/playwright/.*/.gitkeep

coverage
# interactive dev-stack scratch files
/.devmock/
