.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius);

  max-height: calc(100vh - 4rem);
  overflow: scroll;
  min-width: 40vw;

  background-color: var(--modal-background-color);
}

.modal h1 {
  margin-top: 0;
}

.modal label {
  margin-bottom: 1rem;
  display: block;
}

.modal label span {
  display: block;
  margin-bottom: 0.5rem;
}

.modal label input {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  border: var(--input-border-color) 1px solid;
}

.modal button, .modal input[type="submit"] {
  display: block;
  margin-bottom: 1rem;

  background-color: var(--input-background-color);
  border: var(--input-border-color) 1px solid;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;

  cursor: pointer;
}

.modal button:hover, .modal input[type="submit"]:hover {
  background-color: var(--input-background-color-hover);
}

.closeButton {
  position: absolute;

  top: 1rem;
  right: 1rem;

  cursor: pointer;

  &:after{
    font-size: 1.5rem;
    content: "\00d7";
  }
}