@import "../../scratch/scratch-gui/src/css/units.css";
@import "../../scratch/scratch-gui/src/css/colors.css";
@import "../../scratch/scratch-gui/src/css/z-index.css";

.non-interactive {
    pointer-events: none;
}

.settings-button {
    background-color: #000;
    border: #000 1px solid;

    padding: 0.25rem;
    border-radius: 0.25rem;

    cursor: pointer;
}