.state {
  --button-color: var(--assertions-default-color);

  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.5rem;

  img {
    height: 20px;
    width: auto;
  }
}

.success {
  --button-color: var(--assertions-success-color);
}

.no-success {
  --button-color: var(--assertions-failed-color);
}
